.browserStack {
    position: relative !important;
}

findbar {
    position: absolute !important;
    top: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: max-content !important;
    min-width: 520px !important;
    contain: initial !important;
    border-radius: 12px !important;
    border: 1px solid var(--panel-separator-color) !important;
    background: var(--arrowpanel-background) !important;
    padding: 6px !important;
    box-shadow: var(--box-shadow-level-3) !important;
    opacity: 1 !important;
    transition: transform 0.3s ease, opacity 0.3s ease !important;
    
    @starting-style {
        transform: translateX(-50%) translateY(-6px) !important;
        opacity: 0 !important;
    }
    
    &[hidden] {
        transform: translateX(-50%) translateY(-6px) !important;
        opacity: 0 !important;
        visibility: hidden !important;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s !important;
        pointer-events: none !important;
    }
}

.findbar-container {
    height: max-content !important;
    width: 100% !important;
    margin: 0 !important;
}

.findbar-textbox {
    border-radius: 6px !important;
    padding: 8px 12px !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background: var(--toolbar-field-focus-background-color) !important;
}

.findbar-find-previous,
.findbar-find-next,
.findbar-closebutton {
    position: relative !important;
    padding: 0 !important;
    width: 38px !important;
    height: 38px !important;
    border-radius: 6px !important;
    margin: 0 !important;
    .toolbarbutton-icon {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

.findbar-find-previous {
    margin-left: 6px !important;
}

.found-matches {
    margin: 0 6px !important;
}

.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word,
.findbar-find-status {
    display: none !important;
}